<h1>Web Component with Lazy loading</h1>
<div class="row">
    <div class="col" style="background-color:beige">
        <h2>Admin Links</h2>
        <ul>
            <li><a routerLink="admin/login">Login</a></li>
            <li><a routerLink="admin/list">List</a></li>
        </ul>
    </div>
    <div class="col" style="background-color:beige">
        <h2>News Links</h2>
        <ul>
            <!-- "routerLink="news/news-list" -->
            <li><a routerLink="news/news-list">News</a></li>
        </ul>
    </div>
</div>
<div class="row" style="background-color: aliceblue;padding: 20px;">
    <router-outlet></router-outlet>
</div>
<!-- <router-outlet name="newsElement"></router-outlet>
<router-outlet name="loginElement"></router-outlet> -->